{% extends 'base.html' %}

{% load i18n %}
{% block title %}
{% trans "Sign In" %}
{% endblock title %}

{% block content %}
<!-- Login Section -->
<section class="login-section">
    
    <form method="POST">
        {% csrf_token %}
        <h2 class="form-header">{% trans "Sign In" %}</h2>
        <p>
            {% trans "If you have not created an account yet, then please sign up first." %}
            <a href="{% url 'account_signup' %}">{% trans "sign up" %}</a>
        </p>

        <div class="form-body">
            <div>
                {% for field in form %}
                <div class="form-control">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <button type="submit" class="btn">{% trans "Save" %}</button>
            </div>
        </div>
    </form>
</section>
<!-- Login Section end -->
{% endblock content %}
