{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "Sign Up" %}
{% endblock title %}

{% block content %}
<!-- Sign UP Section -->
<section class="signup-section">
    
    <form method="POST">
        {% csrf_token %}
        <h2 class="form-header">{% trans "Sign UP" %}</h2>
        <p>
           {% trans " Already have an account? Then please sign in." %}
            <a href="{% url 'account_login' %}">{% trans "sign in" %}</a>
        </p>

        <div class="form-body">
            <div>
                {% for field in form %}
                <div class="form-control">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <button type="submit" class="btn">{% trans "Save" %}</button>
            </div>
        </div>
    </form>
</section>
<!-- Sign UP Section end -->
{% endblock content %}
