{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock title %}

{% block header %}
{{ auction_form.media }}
{% endblock header %}

{% block content %}
<!-- Auction Create Section -->
<section class="auction-create">
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-header">Create Auction</h2>
        <ul class="tab-headers">
            <li class="active" data-content-id="1">Auction Form</li>
            <li data-content-id="2">Image Fields</li>
            <li data-content-id="3">Video Fields</li>
            <li data-content-id="4">Additional Fields</li>
        </ul>

        <div class="form-body">
            <div class="tab-content active" id="1">
                {% for field in auction_form %}
                <div class="form-control">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <button type="submit" class="btn">Save</button>
            </div>

            <div class="tab-content" id="2">
                {{ image_formset.management_form }}
                <div class="additional-fields">
                    {% for image_form in image_formset %}
                    <div class="additional-field">
                        <div class="form-control">
                            {{ image_form.image.label_tag }}
                            {{ image_form.image }}
                            {{ image_form.image.errors }}
                        </div>
                        <div class="form-control delete-checkbox">
                            {{ image_form.DELETE.label_tag }}
                            {{ image_form.DELETE }}
                            {{ image_form.DELETE.errors }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class='btn' id="add-image-field">+ Add Another Field</button>

                <!-- hidden form -->
                <div id="empty-image-form" class="hidden">
                    <div class="form-control">
                        {{ image_formset.empty_form.image.label_tag }}
                        {{ image_formset.empty_form.image }}
                        {{ image_formset.empty_form.image.errors }}
                    </div>
                    <button type="button" class="btn btn-remove">Remove</button>
                </div>
            </div>

            <div class="tab-content" id="3">
                {{ video_formset.management_form }}
                <div class="additional-fields">
                    {% for video_form in video_formset %}
                    <div class="additional-video-field">
                        <div class="form-control">
                            {{ video_form.video.label_tag }}
                            {{ video_form.video }}
                            {{ video_form.video.errors }}
                        </div>
                        <div class="form-control delete-checkbox">
                            {{ video_form.DELETE.label_tag }}
                            {{ video_form.DELETE }}
                            {{ video_form.DELETE.errors }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class='btn' id="add-video-field">+ Add Another Field</button>

                <!-- hidden form -->
                <div id="empty-video-form" class="hidden">
                    <div class="form-control">
                        {{ video_formset.empty_form.video.label_tag }}
                        {{ video_formset.empty_form.video }}
                        {{ video_formset.empty_form.video.errors }}
                    </div>
                    <button type="button" class="btn btn-video-remove">Remove</button>
                </div>
            </div>

            <div class="tab-content" id="4">
                {{ additional_formset.management_form }}
                <div class="additional-fields">
                    {% for additional_form in additional_formset %}
                    <div class="additional-additional-field">
                        {% for field in additional_form %}
                        <div class="form-control">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class='btn' id="add-additional-field">+ Add Another Field</button>
            </div>
            
            <!-- hidden form -->
            <div id="empty-additional-form" class="hidden">
                {% for form in additional_formset.empty_form %}
                <div class="form-control">
                    {{ form.label_tag }}
                    {{ form }}
                    {{ form.errors }}
                </div>
                {% endfor %}
                <button type="button" class="btn btn-additional-remove">Remove</button>
            </div>
        </div>
    </form>
</section>
<!-- Auction Create Section end -->
{% endblock content %}

{% block script %}
<script src="{% static 'js/tabs.js' %}"></script>
<script>
    const AddImageField = document.querySelector('#add-image-field');
    const AdditionalFields = document.querySelectorAll('.additional-fields')[0];
    const regex = new RegExp('__prefix__', 'g');

    AddImageField.addEventListener('click', () => {
        const AdditionalFieldsCount = document.querySelectorAll('.additional-field').length;
        const emptyImageForm = document.querySelector('#empty-image-form').cloneNode(true);
        emptyImageForm.setAttribute('class', 'additional-field');
        emptyImageForm.setAttribute('id', '');
        emptyImageForm.innerHTML = emptyImageForm.innerHTML.replace(regex, AdditionalFieldsCount)

        AdditionalFields.append(emptyImageForm);

        removeImageField();
    });

    function removeImageField() {
        let allAdditionalFieldBtns = document.querySelectorAll('.btn-remove');
        allAdditionalFieldBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                const field = btn.parentElement;
                AdditionalFields.removeChild(field);

                for (let index = 0; index < AdditionalFields.children.length; index++) {
                    const regexAfterRemove = new RegExp(`${index+1}`, 'g');
                    AdditionalFields.children[index].innerHTML = AdditionalFields.children[index].innerHTML.replace(regexAfterRemove, index);
                }
                removeImageField();
            });
        });
    };
</script>
<script>
    const AddVideoField = document.querySelector('#add-video-field');
    const AdditionalFieldsFirst = document.querySelectorAll('.additional-fields')[1];

    AddVideoField.addEventListener('click', () => {
        const AdditionalFieldsCount = document.querySelectorAll('.additional-video-field').length;
        const emptyVideoForm = document.querySelector('#empty-video-form').cloneNode(true);
        emptyVideoForm.setAttribute('class', 'additional-video-field');
        emptyVideoForm.setAttribute('id', '');
        emptyVideoForm.innerHTML = emptyVideoForm.innerHTML.replace(regex, AdditionalFieldsCount)

        AdditionalFieldsFirst.append(emptyVideoForm);

        removeVideoField();
    });

    function removeVideoField() {
        let allAdditionalFieldBtns = document.querySelectorAll('.btn-video-remove');
        allAdditionalFieldBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                const field = btn.parentElement;
                AdditionalFieldsFirst.removeChild(field);

                for (let index = 0; index < AdditionalFieldsFirst.children.length; index++) {
                    const regexAfterRemove = new RegExp(`${index+1}`, 'g');
                    AdditionalFieldsFirst.children[index].innerHTML = AdditionalFieldsFirst.children[index].innerHTML.replace(regexAfterRemove, index);
                }
                removeVideoField();
            });
        });
    };
</script>
<script>
    const AddAdditionalField = document.querySelector('#add-additional-field');
    const AdditionalFieldsSecond = document.querySelectorAll('.additional-fields')[2];

    AddAdditionalField.addEventListener('click', () => {
        const AdditionalFieldsCount = document.querySelectorAll('.additional-additional-field').length;
        const emptyAdditionalForm = document.querySelector('#empty-additional-form').cloneNode(true);
        emptyAdditionalForm.setAttribute('class', 'additional-additional-field');
        emptyAdditionalForm.setAttribute('id', '');
        emptyAdditionalForm.innerHTML = emptyAdditionalForm.innerHTML.replace(regex, AdditionalFieldsCount)

        AdditionalFieldsSecond.append(emptyAdditionalForm);

        removeAdditionalField();
    });

    function removeAdditionalField() {
        let allAdditionalFieldBtns = document.querySelectorAll('.btn-additional-remove');
        allAdditionalFieldBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                const field = btn.parentElement;
                AdditionalFieldsSecond.removeChild(field);

                for (let index = 0; index < AdditionalFieldsSecond.children.length; index++) {
                    const regexAfterRemove = new RegExp(`${index+1}`, 'g');
                    AdditionalFieldsSecond.children[index].innerHTML = AdditionalFieldsSecond.children[index].innerHTML.replace(regexAfterRemove, index);
                }
                removeAdditionalField();
            });
        });
    };

    function updateFormsetManagementForms(formsetPrefix) {
        const forms = document.querySelectorAll(.${formsetPrefix}-form);
        const totalFormsInput = document.querySelector(input[name=${formsetPrefix}-TOTAL_FORMS]);
        const initialFormsInput = document.querySelector(input[name=${formsetPrefix}-INITIAL_FORMS]);
    
        totalFormsInput.value = forms.length;
        initialFormsInput.value = forms.length;  // Adjust this if initial forms count is different
    
        // Update any hidden form templates for adding new forms
        const emptyFormTemplate = document.querySelector(#empty-${formsetPrefix}-form);
        const newFormIndex = forms.length;  // Use this index to adjust the template for the next form
        emptyFormTemplate.innerHTML = emptyFormTemplate.innerHTML.replace(/prefix/g, newFormIndex);
    };
</script>
{% endblock script %}
