{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
<!-- user detail section -->
<section class="user-detail">
    {% for auction_admin in participants %}
    <div class="single-user" style="display: flex; flex-direction: row; border-bottom: 1px solid black; margin-bottom: .5rem;">
        <div class="user-avatar">
            <img src="{{ auction_admin.get_avatar_url }}" alt="Avatar">
        </div>
        <div class="user-info" style="margin-left: 20px; text-align: left;">
            <h2>{{ auction_admin.first_name }} {{ auction_admin.last_name }}</h2>
            <p>Email: {{ auction_admin.email }}</p>
            <div class="btn-group">
                <a href="{% url 'auction-admin-add' auction_slug auction_admin.username %}" class="btn">Add Admin</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if not participants %}
        <h3>Nothing Found...</h3>
    {% endif %}
</section>
<!-- end of user detail section -->
{% endblock content %}
