{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
{% trans 'Auctions' %}
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/auctions-filter.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}

{% block content %}
<h1 class="title" style="margin: 0 auto; width: fit-content;">{% trans "Auctions" %}
    <button id="close-btn" type="button" class="btn" style="margin-top: -.35rem">{% trans "Advanced Search" %}</button>
</h1>


<div id="filter-panel" style="display: none;">
    <div class="container">
        <form class="card">
            <article class="card-group-item">
                <div class="filter-content">
                    <div class="card-body">
                        <div class="search">
                            <button>
                                <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                                    <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </button>
                            <input class="search-input" placeholder="Search auctions ..." type="text" name="search-input">
                            <button class="reset" type="reset">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->

            <div class="card-filters">
                <article class="card-group-item">
                    <header class="card-header">
                        <h4 class="title">{% trans "Range input" %} </h4>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            <div class="form-row">
                            <div class="range-form-group">
                                <label>{% trans "Min" %}</label>
                                <input type="number" class="range-input" name="min-range-input" placeholder="${{ min_price }}" min="{{ min_price }}">
                            </div>
                            <div class="range-form-group">
                                <label>{% trans "Max" %}</label>
                                <input type="number" class="range-input" name="max-range-input" placeholder="${{ max_price }}" max="{{ max_price }}">
                            </div>
                            </div>
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
        
                <article class="card-group-item">
                    <header class="card-header">
                        <h4 class="title">{% trans "Categories" %} </h4>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            {% for category in categories %}
                            <div class="badge-checkbox">
                                <span class="float-right badge badge-light round">{{ category.auction_categories.count }}</span>
                                <label class="cl-checkbox">
                                    <input type="checkbox" name="category" value="{{ category.name }}">
                                    <span>{{ category.name }}</span>
                                </label>
                            </div> <!-- form-check.// -->
                            {% endfor %}
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
        
                <article class="card-group-item">
                    <header class="card-header">
                        <h4 class="title">{% trans "Tags" %} </h4>
                    </header>
                    <div class="filter-content">
                        <div class="card-body">
                            {% for tag in tags %}
                            <div class="custom-control custom-checkbox">
                                <label class="cl-checkbox">
                                    <input type="checkbox" name="tag" value="{{ tag.name }}">
                                    <span>{{ tag.name }}</span>
                                </label>
                            </div> <!-- form-check.// -->
                            {% endfor %}
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
            </div>
            <button class="btn">{% trans "Filter" %}</button>
        </fo> <!-- card.// -->
    </div> 
    <!--container end.//-->
</div>

<section class="auctions-section">
    {% for auction in all_auctions %}
    <article class="auction">
        <div class="img-container">
            <img src="{{ auction.get_main_image }}" alt="{{ auction.title }}">
        </div>
        <div class="auction-info">
            <h3 class="auction-title">{{ auction.title }}</h3>
            <p class="auction-description">{{ auction.summary }}</p>
        </div>
        <div class="auction-footer">
            <span class="auction-price">${{ auction.get_current_price }}</span>
            <a class="auction-link" href="{{ auction.get_absolute_url }}"><span class="auction-link-text">{% trans "More" %}</span> <span class="auction-pointer">>>></span></a>
        </div>

        <div class="show-time" style="display: flex; justify-content: space-between;">
            <span class="auction-show-time">{% trans "Participants" %}:</span><span class="auction-show-time">{{ auction.participants.count }}</span>
        </div>
    </article> 
    {% endfor %}
</section>
<div class="pagination-container">
    <div class="pagination p12">
        <ul>
            {% if all_auctions.has_previous %}
            <a href="{% url 'auctions' all_auctions.previos_page_number %}"><li>{% trans "Previous" %}</li></a>
            {% endif %}
            <a class="is-active"><li>{{ all_auctions.number }}</li></a>
            {% if all_auctions.has_next %}
            <a href="{% url 'auctions' all_auctions.next_page_number %}"><li>{% trans "Next" %}</li></a>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    document.querySelector('#close-btn').addEventListener('click', () => {
        const filterPanel = document.querySelector('#filter-panel'); 
        if (filterPanel.style.display === 'block') {
            filterPanel.style.display = 'none';
        } else {
            filterPanel.style.display = 'block';
        }
    });
</script>
{% endblock script %}
