{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock title %}

{% block header %}
{{ auction_form.media }}
{% endblock header %}

{% block content %}
<!-- Auction Create Section -->
<section class="auction-create">
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-header">Create Auction</h2>
        <ul class="tab-headers">
            <li class="active" data-content-id="1">Auction Form</li>
            <li data-content-id="2">Image Fields</li>
            <li data-content-id="3">Video Fields</li>
            <li data-content-id="4">Additional Fields</li>
        </ul>

        <div class="form-body">
            <div class="tab-content active" id="1">
                {% for field in auction_form %}
                <div class="form-control">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <button type="submit" class="btn">Save</button>
            </div>

            <div class="tab-content" id="2">
                {{ image_formset.management_form }}
                <div class="additional-fields">
                    {% for image_form in image_formset %}
                    <div class="additional-field">
                        <div class="form-control">
                            {{ image_form.image.label_tag }}
                            {{ image_form.image }}
                            {{ image_form.image.errors }}
                        </div>
                        <div class="form-control delete-checkbox">
                            {{ image_form.DELETE.label_tag }}
                            {{ image_form.DELETE }}
                            {{ image_form.DELETE.errors }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class='btn' id="add-image-field">+ Add Another Field</button>

                <!-- hidden form -->
                <div id="empty-image-form" class="hidden">
                    <div class="form-control">
                        {{ image_formset.empty_form.image.label_tag }}
                        {{ image_formset.empty_form.image }}
                        {{ image_formset.empty_form.image.errors }}
                    </div>
                    <button type="button" class="btn btn-image-remove">Remove</button>
                </div>
            </div>

            <div class="tab-content" id="3">
                {{ video_formset.management_form }}
                <div class="additional-fields">
                    {% for video_form in video_formset %}
                    <div class="additional-video-field">
                        <div class="form-control">
                            {{ video_form.video.label_tag }}
                            {{ video_form.video }}
                            {{ video_form.video.errors }}
                        </div>
                        <div class="form-control delete-checkbox">
                            {{ video_form.DELETE.label_tag }}
                            {{ video_form.DELETE }}
                            {{ video_form.DELETE.errors }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class='btn' id="add-video-field">+ Add Another Field</button>

                <!-- hidden form -->
                <div id="empty-video-form" class="hidden">
                    <div class="form-control">
                        {{ video_formset.empty_form.video.label_tag }}
                        {{ video_formset.empty_form.video }}
                        {{ video_formset.empty_form.video.errors }}
                    </div>
                    <button type="button" class="btn btn-video-remove">Remove</button>
                </div>
            </div>

            <div class="tab-content" id="4">
                {{ additional_formset.management_form }}
                <div class="additional-fields">
                    {% for additional_form in additional_formset %}
                    <div class="additional-additional-field">
                        {% for field in additional_form %}
                        <div class="form-control">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class='btn' id="add-additional-field">+ Add Another Field</button>
            </div>
            
            <!-- hidden form -->
            <div id="empty-additional-form" class="hidden">
                {% for form in additional_formset.empty_form %}
                <div class="form-control">
                    {{ form.label_tag }}
                    {{ form }}
                    {{ form.errors }}
                </div>
                {% endfor %}
                <button type="button" class="btn btn-additional-remove">Remove</button>
            </div>
        </div>
    </form>
</section>
<!-- Auction Create Section end -->
{% endblock content %}

{% block script %}
<script src="{% static 'js/tabs.js' %}"></script>
<script>
    function setupFormsetHandlers(formsetPrefix, addButtonId, additionalFieldsIndex) {
        const AddFieldButton = document.querySelector(`#${addButtonId}`);
        const AdditionalFields = document.querySelectorAll('.additional-fields')[additionalFieldsIndex];
        const emptyFormTemplate = document.querySelector(`#empty-${formsetPrefix}-form`);
        const regex = new RegExp('prefix', 'g');

        AddFieldButton.addEventListener('click', () => {
            const AdditionalFieldsCount = document.querySelectorAll(`.additional-${formsetPrefix}-field`).length;
            const emptyForm = emptyFormTemplate.cloneNode(true);
            emptyForm.setAttribute('class', `additional-${formsetPrefix}-field`);
            emptyForm.setAttribute('id', '');
            emptyForm.innerHTML = emptyForm.innerHTML.replace(regex, AdditionalFieldsCount);

            AdditionalFields.append(emptyForm);

            removeFieldHandlers(formsetPrefix, AdditionalFields);
        });
    }

    function removeFieldHandlers(formsetPrefix, AdditionalFields) {
        const allAdditionalFieldBtns = AdditionalFields.querySelectorAll(`.btn-${formsetPrefix}-remove`);
        
        allAdditionalFieldBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                const field = btn.parentElement;
                AdditionalFields.removeChild(field);

                // Adjust indexes after removing
                const forms = AdditionalFields.querySelectorAll(`.additional-${formsetPrefix}-field`);
                forms.forEach((form, index) => {
                    const regexAfterRemove = new RegExp(`${index + 1}`, 'g');
                    form.innerHTML = form.innerHTML.replace(regexAfterRemove, index);
                });

                removeFieldHandlers(formsetPrefix, AdditionalFields);
            });
        });
    }

    // Setup handlers for each formset
    setupFormsetHandlers('image', 'add-image-field', 0);
    setupFormsetHandlers('video', 'add-video-field', 1);
    setupFormsetHandlers('additional', 'add-additional-field', 2);

    function updateFormsetManagementForms(formsetPrefix) {
        const forms = document.querySelectorAll(`.${formsetPrefix}-form`);
        const totalFormsInput = document.querySelector(`input[name=${formsetPrefix}-TOTAL_FORMS]`);
        const initialFormsInput = document.querySelector(`input[name=${formsetPrefix}-INITIAL_FORMS]`);
    
        totalFormsInput.value = forms.length;
        initialFormsInput.value = forms.length;  // Adjust this if initial forms count is different
    
        // Update any hidden form templates for adding new forms
        const emptyFormTemplate = document.querySelector(`#empty-${formsetPrefix}-form`);
        const newFormIndex = forms.length;  // Use this index to adjust the template for the next form
        emptyFormTemplate.innerHTML = emptyFormTemplate.innerHTML.replace(/prefix/g, newFormIndex);
    };
</script>
{% endblock script %}
