{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block style %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% comment %} <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% endcomment %}
{% endblock style %}

{% block content %}
<h1 class="title" style="margin: 0 auto; width: fit-content;">Auctions
    <button id="close-btn" type="button" class="btn" style="margin-top: -.35rem">Advanced Search</button>
</h1>


<div id="filter-panel" style="display: none;">
    <div class="container">
    <br>
    <hr>
    <div class="row">
        <aside class="col-sm-4">
    <p>Filter 1</p>

    <div class="card">
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Brands </h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                <form>
                    <label class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-label">
                        Mersedes Benz
                    </span>
                    </label> <!-- form-check.// -->
                    <label class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-label">
                        Nissan Altima
                    </span>
                    </label>  <!-- form-check.// -->
                    <label class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-label">
                        Another Brand
                    </span>
                    </label>  <!-- form-check.// -->
                </form>

                </div> <!-- card-body.// -->
            </div>
        </article> <!-- card-group-item.// -->
        
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Choose type </h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                <label class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                <span class="form-check-label">
                    First hand items
                </span>
                </label>
                <label class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                <span class="form-check-label">
                    Brand new items
                </span>
                </label>
                <label class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                <span class="form-check-label">
                    Some other option
                </span>
                </label>
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- card-group-item.// -->
    </div> <!-- card.// -->




        </aside> <!-- col.// -->
        <aside class="col-sm-4">
    <p>Filter 2</p>


    <div class="card">
        <article class="card-group-item">
            <header class="card-header"><h6 class="title">Similar category </h6></header>
            <div class="filter-content">
                <div class="list-group list-group-flush">
                <a href="#" class="list-group-item">Cras justo odio <span class="float-right badge badge-light round">142</span> </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis  <span class="float-right badge badge-light round">3</span>  </a>
                <a href="#" class="list-group-item">Morbi leo risus <span class="float-right badge badge-light round">32</span>  </a>
                <a href="#" class="list-group-item">Another item <span class="float-right badge badge-light round">12</span>  </a>
                </div>  <!-- list-group .// -->
            </div>
        </article> <!-- card-group-item.// -->
        <article class="card-group-item">
            <header class="card-header"><h6 class="title">Color check</h6></header>
            <div class="filter-content">
                <div class="card-body">
                    <label class="btn btn-danger">
                    <input class="" type="checkbox" name="myradio" value="">
                    <span class="form-check-label">Red</span>
                    </label>
                    <label class="btn btn-success">
                    <input class="" type="checkbox" name="myradio" value="">
                    <span class="form-check-label">Green</span>
                    </label>
                    <label class="btn btn-primary">
                    <input class="" type="checkbox" name="myradio" value="">
                    <span class="form-check-label">Blue</span>
                    </label>
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- card-group-item.// -->
    </div> <!-- card.// -->



        </aside> <!-- col.// -->
        <aside class="col-sm-4">
    <p>Filter  3</p>



    <div class="card">
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Range input </h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                <div class="form-row">
                <div class="form-group col-md-6">
                <label>Min</label>
                <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
                </div>
                <div class="form-group col-md-6 text-right">
                <label>Max</label>
                <input type="number" class="form-control" placeholder="$1,0000">
                </div>
                </div>
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- card-group-item.// -->
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Selection </h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                    <div class="custom-control custom-checkbox">
                        <span class="float-right badge badge-light round">52</span>
                        <input type="checkbox" class="custom-control-input" id="Check1">
                        <label class="custom-control-label" for="Check1">Samsung</label>
                    </div> <!-- form-check.// -->

                    <div class="custom-control custom-checkbox">
                        <span class="float-right badge badge-light round">132</span>
                        <input type="checkbox" class="custom-control-input" id="Check2">
                        <label class="custom-control-label" for="Check2">Black berry</label>
                    </div> <!-- form-check.// -->

                    <div class="custom-control custom-checkbox">
                        <span class="float-right badge badge-light round">17</span>
                        <input type="checkbox" class="custom-control-input" id="Check3">
                        <label class="custom-control-label" for="Check3">Samsung</label>
                    </div> <!-- form-check.// -->

                    <div class="custom-control custom-checkbox">
                        <span class="float-right badge badge-light round">7</span>
                        <input type="checkbox" class="custom-control-input" id="Check4">
                        <label class="custom-control-label" for="Check4">Other Brand</label>
                    </div> <!-- form-check.// -->
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- card-group-item.// -->
    </div> <!-- card.// -->



        </aside> <!-- col.// -->
    </div> <!-- row.// -->

    </div> 
    <!--container end.//-->
</div>

<section class="auctions-section">
    {% for auction in all_auctions %}
    <article class="auction">
        <div class="img-container">
            <img src="{{ auction.get_main_image }}" alt="{{ auction.title }}">
        </div>
        <div class="auction-info">
            <h3 class="auction-title">{{ auction.title }}</h3>
            <p class="auction-description">{{ auction.summary }}</p>
        </div>
        <div class="auction-footer">
            <span class="auction-price">${{ auction.get_current_price }}</span>
            <a class="auction-link" href="{{ auction.get_absolute_url }}"><span class="auction-link-text">More</span> <span class="auction-pointer">>>></span></a>
        </div>

        <div class="show-time">
            <span class="auction-show-time">Participants: {{ auction.participants.count }}</span>
        </div>
    </article> 
    {% endfor %}
</section>
{% endblock content %}

{% block script %}
<script>
    document.querySelector('#close-btn').addEventListener('click', () => {
        const filterPanel = document.querySelector('#filter-panel'); 
        if (filterPanel.style.display === 'block') {
            filterPanel.style.display = 'none';
        } else {
            filterPanel.style.display = 'block';
        }
    });
</script>
{% endblock script %}
