{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
<!-- user detail section -->
<section class="user-detail">
    <div class="user-avatar">
        <img src="{{ auction_admin.get_avatar_url }}" alt="Avatar">
    </div>
    <div class="user-info">
        {% if user_contact %}
        <h2>{{ user_contact.first_name }} {{ user_contact.last_name }}</h2>
        {% else %}
        <h2>{{ auction_admin.first_name }} {{ auction_admin.last_name }}</h2>
        {% endif %}
        <p>Email: {{ auction_admin.email }}</p>
        <form method="POST" style="margin-top: 0; border: transparent; box-shadow: none; min-height: fit-content;">
            {% csrf_token %}
            {% for field in permission_form %}
            <div class="checkbox-con">
            {{ field.label_tag }}
            {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn">Save</button>
        </form>
    </div>
</section>
<!-- end of user detail section -->
{% endblock content %}
