{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Additional Fields' %}{% endblock title %}

{% block content %}
<!-- Auction Additional Fields Section -->
<section class="auction-additional-fields">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-header">{% trans "Additional Fields" %}</h2>
        <div class="form-body">
            {% for field in auction_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
        </div>
        <div class="form-footer">
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </form>
</section>
<!-- End Of Auction Additional Fields Section-->
{% endblock content %}
