{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock title %}

{% block content %}
<!-- detail section -->
<section class="detail-section">
    <div class="auction-detail-column">
        <div class="detail-section-images">
            <div class="main-imgs">
                <img id="{{ auction.id }}" class="main-img main-img-active" src="{{ auction.get_main_image }}" alt="">
                {% for auction_image in auction.image_fields.all %}
                <img id="{{ auction_image.id }}" class="main-img" src="{{ auction_image.image.url }}" alt="">
                {% endfor %}
            </div>
            {% if auction.image_fields.all %}
            <div class="thumbs">
                <img data-image-id={{ auction.id}} class="thumb" src="{{ auction.get_main_image }}" alt="">
                {% for auction_image in auction.image_fields.all %}
                <img data-image-id={{ auction_image.id}} class="thumb" src="{{ auction_image.image.url }}" alt="">
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="detail-section-info">
            {% if auction.start_time %}
            <div class="additional-field" style="display: flex; justify-content: space-between;"><span>Start Time:</span> {{ auction.start_time }}</div>
            {% endif %}
            {% if auction.end_time %}
            <div class="additional-field" style="display: flex; justify-content: space-between;"><span>End Time:</span> {{ auction.end_time }}</div>
            {% endif %}
            <div class="auction-price">${{ auction.get_current_price }}</div>
            <div class="description auction-description">
                <h2 class="title">Description</h2>
                <p class="description-text auction-description-text">
                    {{ auction.description|safe }}
                </p>
            </div>
            <div class="additional-fields">
                <div class="additional-field">
                    <img src="{{ auction.get_main_image }}" alt="" class="additional-field-icon">
                    <div class="additional-field-info">
                        <h3 class="additional-field-title">auction.additional_fields.title</h3>
                        <p class="additional-field-description">auction.additional_fields.description</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="auction-side-column">
        <div class="auction-btns">
            <button type="button" class="btn save-btn {% if auction.orderitem_set.exists %}disabled{% endif %}">Save</button>
            <button type="button" class="btn like-btn">Like</button>
            <a href="{% url 'auction-bid' auction.slug %}" type="button" class="btn bid-btn">Bid Now</a>
        </div>
        <div class="auction-contact">
            <h2 class="title">Contact Us</h2>
            <form action="mailto:{{ auction.email }}" method="POST" enctype="text/plain" class="contact-form">
                <input type="email" placeholder="Email" class="email" required>
                <button type="submit" class="btn auction-btn">Contact</button>
            </form>
        </div>
        {% if not auction.orderitem_set.exists %}
        <button type="button" class="btn remind-btn">Remind ME</button>
        {% endif %}
        <h2 class="title" style="margin-top: 2rem;">Agents</h2>
        <div class="agents">
            {% for agent in auction.permissions.all %}
                <div class="agent">
                    <img src="{{ agent.get_avatar_url }}" alt="agent avatar image" class="agent-avatar">
                    <a class="agent-info" href="{% url 'user-detail' agent.username %}">
                        <h4 class="agent-name">{{ agent.get_full_name }}</h4>
                        <p class="agent-email">{{ agent.email }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% comment %} <div class="labels">
            <h3>Categories</h3>
            {% for category in categories %}
            <p>
                <a class="label">{{ category.name }}</a>
            </p>
            {% endfor %}
            <h3>Tags</h3>
            {% for tag in tags %}
            <p>
                <a class="label">{{ tag.name }}
            </p>
            {% endfor %}
        </div> {% endcomment %}
    </div>
    <div class="auction-comments">
        <h2 class="title">Comments</h2>
        <div class="comment-box">
            {% for comment in auction.comments.all %}
            <div class="comment">
                <div class="comment-info">
                    <h4 class="comment-author">
                        <a href="{% url 'user-detail' comment.user.username %}">
                            {{ comment.user.get_full_name }}
                        </a>
                    </h4>
                    <p class="comment-date">{{ comment.created }}</p>
                </div>
                <p class="comment-text">{{ comment.text }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="comment-form">
            <input type="text" placeholder="Your comment" class="comment-input">
            <button type="button" class="btn comment-btn">Submit</button>
        </div> 
    </div>
</section>
<!-- end of detail section -->
{% endblock content %}

{% block script %}
<script src="{% static 'js/tabs.js' %}"></script>
<script>
    const remindBtn = document.querySelector('.remind-btn');
    const likeBtn = document.querySelector('.like-btn');
    const saveBtn = document.querySelector('.save-btn');
    const sessionCookie = document.cookie;

    remindBtn.addEventListener('click', function() {
        fetch('http://localhost:8000/auctions/auction/{{ auction.slug }}/remind-me/{{ request.user.id }}')
        .then(function(response) {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); 
        })
        .then(function(data) {
            if (data.reminder === true) {
                alert('Reminder sent successfully');
                remindBtn.innerHTML = 'added';
            } else {
                alert('Reminder cancelled');
                remindBtn.innerHTML = 'Remind Me';
            }
        })
        .catch(function(error) {
            console.error('Fetch request failed', error);
        });
    });

    likeBtn.addEventListener('click', function() {
        fetch('http://localhost:8000/auctions/auction/{{ auction.slug }}/like/{{ request.user.id }}')
        .then(function(response) {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); 
        })
        .then(function(data) {
            if (data.liked === true) {
                likeBtn.innerHTML = 'Liked';
            } else {
                likeBtn.innerHTML = 'Like';
            }
        })
        .catch(function(error) {
            console.error('Fetch request failed', error);
        });
    });
    {% if not auction.orderitem_set.exists %}
    saveBtn.addEventListener('click', function() {
        const csrftoken = getCookie('csrftoken');
        fetch('http://localhost:8000/card/{{ auction.slug }}/add/', {
            method: 'GET',
            headers:{
                'Content-Type':'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': csrftoken,
            }, 
            credentials: 'same-origin',
        })
        .then(function(response) {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); 
        })
        .then(function(data) {
            if (data.added === true) {
                saveBtn.innerHTML = 'Saved';
            } else {
                saveBtn.innerHTML = ' Save';
            }
        })
        .catch(function(error) {
            console.error('Fetch request failed', error);
        });
    });
    {% endif %}
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script>
    const commentBtn = document.querySelector('.comment-btn');
    
    commentBtn.addEventListener('click', () => {
        const commentBox = document.querySelector('.comment-box');
        const commentInput = document.querySelector('.comment-input');
        const commentText = commentInput.value.trim();

        fetch(`http://localhost:8000/auctions/auction/{{ auction.slug }}/comment/add/{{ request.user.id }}?text=${ commentText }`)
        .then(function(response) {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); 
        })
        .then(function(data) {
            if (data.added === true) {
                commentBox.insertAdjacentHTML('beforeend', `<div class="comment">
                <div class="comment-info">
                    <h4 class="comment-author">
                        <a href="{% url 'user-detail' request.user.username %}">
                            {{ request.user.get_full_name }}
                        </a>
                    </h4>
                    <p class="comment-date">Now</p>
                </div>
                <p class="comment-text">${ commentText }</p>
            </div>`);
                commentInput.value = '';
            }
        })
        .catch(function(error) {
            console.error('Fetch request failed', error);
        });
    });
</script>
{% endblock script %}
