{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock title %}

{% block content %}
<!-- detail section -->
<section class="section-center">
    <section class="auction-page">
        {% if auction.get_start_time or auction.get_end_time %}
        <div class="timer">
            {% if auction.get_start_time %}
            <h2 class="title">Auction Start After</h2>
            <div class="timer-clock">
                00:00:00
            </div>
            {% elif auction.get_end_time %}
            <h2 class="title">Auction End After</h2>
            <div class="timer-clock">
                00:00:00
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="auction-price auction-page-price"><span class="price">${{ auction.get_current_price }}</span><span class="slogan">Current Price</span></div>
        <form id="price-form">
            <label for="price-input">$</label>
            <input id="price-input" type="number" placeholder="enter the price" name="price">
            <button type="submit"></button>
        </form>
        <div class="boxes">
            <ul class="tab-headers">
                <li class="active" data-content-id="1">Last Bids</li>
                <li data-content-id="2">Chat</li>
            </ul>
            <div class="prices-box tab-content active" id="1">
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
                <div class="price-last">
                    <p>
                        <a href="#">Jimmy</a> invite 120$
                    </p>
                </div>
            </div>

            <div class="chat-box tab-content" id="2">
                <ol class="chat">
                    <li class="other">
                        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
                      <div class="msg">
                        <p>Hola!</p>
                        <p>Te vienes a cenar al centro? <emoji class="pizza"/></p>
                        <time>20:17</time>
                      </div>
                    </li>
                    <li class="self">
                        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
                      <div class="msg">
                        <p>Puff...</p>
                        <p>Aún estoy haciendo el contexto de Góngora... <emoji class="books"/></p>
                        <p>Mejor otro día</p>
                        <time>20:18</time>
                      </div>
                    </li>
                    <li class="other">
                        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
                      <div class="msg">
                        <p>Qué contexto de Góngora? <emoji class="suffocated"/></p>
                        <time>20:18</time>
                      </div>
                    </li>
                    <li class="self">
                        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
                      <div class="msg">
                        <p>El que mandó Marialu</p>
                        <p>Es para mañana...</p>
                        <time>20:18</time>
                      </div>
                    </li>
                    <li class="other">
                        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
                      <div class="msg">
                        <p><emoji class="scream"/></p>
                        <p>Pásamelo! <emoji class="please"/></p>
                        <time>20:18</time>
                      </div>
                    </li>
                    <li class="self">
                        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
                      <div class="msg">
                        <img src="https://i.imgur.com/QAROObc.jpg" draggable="false"/>
                        <time>20:19</time>
                      </div>
                    </li>
                    <li class="other">
                        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
                      <div class="msg">
                        <p>Gracias! <emoji class="hearth_blue"/></p>
                        <time>20:20</time>
                      </div>
                    </li>
                        <div class="day">Hoy</div>
                    <li class="self">
                        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
                      <div class="msg">
                        <p>Te apetece jugar a Minecraft?</p>
                        <time>18:03</time>
                      </div>
                    </li>
                    <li class="other">
                        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
                      <div class="msg">
                        <p>Venga va, hace ya mucho que no juego...</p>
                        <time>18:07</time>
                      </div>
                    </li>
                    <li class="self">
                        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
                      <div class="msg">
                        <p>Ehh, me crashea el Launcher... <emoji class="cryalot"/></p>
                        <time>18:08</time>
                      </div>
                    </li>
                    <li class="other">
                        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
                      <div class="msg">
                        <p><emoji class="lmao"/></p>
                        <time>18:08</time>
                      </div>
                    </li>
                    <li class="self">
                        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
                      <div class="msg">
                        <p>Es broma</p>
                        <p>Ataque Moai!</p>
                        <p><span><emoji class="moai"/></span><span><emoji class="moai"/></span><span><emoji class="moai"/></span><span><emoji class="moai"/></span><span><emoji class="moai"/></span><span><emoji class="moai"/></span></p>
                        <time>18:09</time>
                      </div>
                    </li>
                    <li class="other">
                        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
                      <div class="msg">
                          <p>Copón</p>
                        <p><emoji class="funny"/></p>
                        <time>18:08</time>
                      </div>
                    </li>
                    <li class="self">
                        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
                      <div class="msg">
                        <p>Hey there's a new update about this chat UI with more responsive elements! Check it now:</p>
                        <p><a href="https://codepen.io/Varo/pen/YPmwpQ" target="parent">Chat UI 2.0</a></p>
                        <time>18:09</time>
                      </div>
                    </li>
                </ol>
                <input class="textarea" type="text" placeholder="Type here!"/>
                <button class="chat-btn" type="button">Submit</button>
            </div>
        </div>
    </section>
</section>
<!-- end of detail section -->
{% endblock content %}

{% block script %}
<script>
    let countdownDate = new Date('{{ auction.start_time|date:"F j, Y H:i:s" }}').getTime();
    let countdownDateEnd = new Date('{{ auction.end_time|date:"F j, Y H:i:s" }}').getTime();
    let type = null;

    {% if auction.get_start_time %}
    type = "startTime";
    {% elif auction.get_end_time %}
    type = "endTime";
    {% endif %}

    let now = new Date('{{ auction.get_time_now|date:"F j, Y H:i:s" }}').getTime();
    
    function timer (countdownDate, countdownDateEnd, now, type) {
        const countdown = setInterval(() => {
            const distance = countdownDate - now;

            now += 1000;
            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.querySelectorAll('.timer-clock')[0].innerHTML = `${days}:${hours}:${minutes}:${seconds}`;

            if (distance < 0) {
                clearInterval(countdown);
                if (type === "startTime") {
                    document.querySelectorAll('.timer-clock')[0].innerHTML = "AUCTION STARTED";
                    document.querySelector('#price-form').classList.add('active');
                    document.querySelector('.timer .title').innerHTML = "Auction End After";
                    timer(countdownDateEnd, countdownDateEnd=0, now, type="endTime"); 
                } else if (type === "endTime") {
                    document.querySelectorAll('.timer-clock')[0].innerHTML = "AUCTION ENDED";
                    document.querySelector('#price-form').classList.remove('active');
                }
            }
        }, 1000)
    };

    timer(countdownDate, countdownDateEnd, now, type);
</script>
<script>
    const wb = new WebSocket(`ws://127.0.0.1:8000/websocket/auction-bid/{{ auction.slug }}`);
    const chatBtn = document.querySelector('.chat-btn');

    chatBtn.addEventListener('click', () => {
        const message = document.querySelector('.textarea');
        wb.send(JSON.stringify({ "type": "message", "message": message.value }));
        message.value = '';
    });

    wb.onmessage = (event) => {
        console.log(event);
    };
</script>
<script src="{% static 'js/tabs.js' %}"></script>
{% endblock script %}
