{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock style %}

{% block content %}
<section class="dashboard">
    <div class="all-numbers">
        <h1 class="title">Total</h1>
        <div class="number-box">
            <p>Total Items</p>
            <span>{{  all_numbers.total_items }}</span>
        </div>
        <div class="number-box">
            <p>Total Price</p>
            <span>${{ all_numbers.total_price }}</span>
        </div>
    </div>
    <div class="btn-group" style="margin-bottom: 2rem;">
        <a href="{% url 'checkout' %}" class="btn">Checkout</a>
    </div>
    <div class="dashboard-list">
        <h1 class="title">Your Auctions</h1>
        <table class="user-auctions">
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Price</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Remove</th>
            </tr>
            {% for card_item in card_items %}
            <tr class="user-auction">
                <td class="user-auction-image">
                    <img src="{{ card_item.auction.get_main_image }}" alt="{{ card_item.auction.title }}">
                </td>
                <td>
                    <a href="{% url 'dashboard-auction-detail' card_item.auction.slug %}">{{ card_item.auction.title }}</a>
                </td>
                <td>
                    <p>${{ card_item.auction.get_current_price }}</p>
                </td>
                <td>{{ card_item.auction.start_time }}</td>
                <td>{{ card_item.auction.end_time }}</td>
                <td><a href="{% url 'add-to-card' card_item.auction.slug %}" class="btn">Remove</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock content %}
