{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Address Form' %}{% endblock title %}

{% block content %}
<section class="user-update">
    {% if form.errors %}
    <div class="alert alert-danger">
        {% trans 'Please correct the error below.' %}
    </div>
    {% endif %}
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-header">{% trans 'Address Form' %}</h2>
        <div class="form-body">
            {% for field in form %}
            <div class="form-control">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <a href="{% url 'user-addresses' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </div>
    </form>
</section>
{% endblock content %}
