{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock style %}

{% block content %}
<!-- user detail section -->
<section class="user-detail">
    <div class="user-avatar">
        <img src="{{ user.get_avatar_url }}" alt="Avatar">
    </div>
    <div class="user-info">
        {% if user_contact %}
        <h2>{{ user_contact.first_name }} {{ user.last_name }}</h2>
        {% else %}
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        {% endif %}
        <p>Email: {{ user.email }}</p>
        {% if user in request.user.contacts.all %}
        <p class="contact-status">Saved as contact</p>
        {% endif %}
        <div class="description">
            {{ user.description|safe }}
        </div>
        <div class="btn-group">
            {% if request.user == user %}
            <a href="{% url 'user-update' %}" class="btn btn-primary">Edit Profile</a>
            <a href="{% url 'user-contacts' %}" class="btn btn-primary">Contacts</a>
            <a href="{% url 'user-delete' %}" class="btn btn-secondary">Delete Account</a>
            {% endif %}
            {% if not user_contact and request.user != user %}
            <a class="btn" href="{% url 'user-save-contact' user.username %}">Save As A contact</a>
            {% elif user_contact %}
            <a class="btn" href="{% url 'user-update-contact' user.username %}">Edit Contact</a>
            {% endif %}
        </div>
    </div>
    {% if request.user == user %}
    <div class="user-data" style="margin-top: 4rem">
        <div class="orders">
            <h2 class="title" style="margin-bottom: 1rem">Your Orders</h2>
            <table class="user-auctions">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Paid</th>
                    <th>Delevired</th>
                </tr>
                {% for order in request.user.order_set.all %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>
                        <a href="{% url 'order-data' order.id %}">{{ order.address.city }}</a>
                    </td>
                    <td>{{ order.paid }}</td>
                    <td>{{ order.deleivered }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
</section>
<!-- end of user detail section -->
{% endblock content %}
