{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'User Detail' %}{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock style %}

{% block content %}
<!-- user detail section -->
<section class="user-detail">
    <div class="user-avatar">
        <img src="{{ user.get_avatar_url }}" alt="Avatar">
    </div>
    <div class="user-info">
        {% if user_contact %}
        <h2>{{ user_contact.first_name }} {{ user.last_name }}</h2>
        {% else %}
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        {% endif %}
        <p>{% trans 'Email:' %} {{ user.email }}</p>
        {% if user in request.user.contacts.all %}
        <p class="contact-status">{% trans 'Saved as contact' %}</p>
        {% endif %}
        <div class="description">
            {{ user.description|safe }}
        </div>
        <div class="btn-group">
            {% if request.user == user %}
            <a href="{% url 'user-update' %}" class="btn btn-primary">{% trans "Edit Profile" %}</a>
            <a href="{% url 'user-contacts' %}" class="btn btn-primary">{% trans "Contacts" %}</a>
            <a href="{% url 'user-delete' %}" class="btn btn-secondary">{% trans "Delete Account" %}</a>
            {% endif %}
            {% if not user_contact and request.user != user %}
            <a class="btn" href="{% url 'user-save-contact' user.username %}">{% trans "Save As A contact" %}</a>
            {% elif user_contact %}
            <a class="btn" href="{% url 'user-update-contact' user.username %}">{% trans "Edit Contact" %}</a>
            {% endif %}
        </div>
    </div>
    {% if request.user == user %}
    <div class="user-data" style="margin-top: 4rem">
        <div class="orders">
            <h2 class="title" style="margin-bottom: 1rem">{% trans "Your Orders" %}</h2>
            <table class="user-auctions">
                <tr>
                    <th>{% trans "Id" %}</th>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Paid" %}</th>
                    <th>{% trans "Delivered" %}</th>
                </tr>
                {% for order in request.user.order_set.all %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>
                        <a href="{% url 'order-data' order.id %}">{{ order.address.city }}</a>
                    </td>
                    <td>{{ order.paid }}</td>
                    <td>{{ order.delivered }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="dashboard-list">
        <h1 class="title" style="margin-bottom: 1rem;">{% trans "Auctions that You participanted" %}</h1>
        {% if request.user.participantdata_set.exists %}
        <table class="user-auctions">
            <tr>
                <th>{% trans "Image" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Participants" %}</th>
                <th>{% trans "Current Price" %}</th>
                <th>{% trans "End Time" %}</th>
                <th>{% trans "Your Bid" %}</th>
            </tr>
            {% for data in request.user.participantdata_set.all %}
            {% with auction=data.auction %}
            <tr class="user-auction">
                <td class="user-auction-image">
                    <img src="{{ auction.get_main_image }}" alt="{{ auction.title }}">
                </td>
                <td>
                    <a href="{% url 'auction' auction.slug %}">{{ auction.title }}</a>
                </td>
                <td>
                    <p>{{ auction.participants.count }}</p>
                </td>
                <td>
                    <p>${{ auction.get_current_price }}</p>
                </td>
                <td>{{ auction.end_time }}</td>
                <td>${{ data.price }}</td>
            </tr>
            {% endwith %}
            {% endfor %}
        </table>
        {% else %}
        <h3>{% trans "No auctions found." %}</h3>
        {% endif %}
    </div>

    <div class="dashboard-list">
        <h1 class="title" style="margin-bottom: 1rem;">{% trans "Auctions that You Winned" %}</h1>
        {% if request.user.winner.all %}
        <table class="user-auctions">
            <tr>
                <th>{% trans "Image" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Participants" %}</th>
                <th>{% trans "End Time" %}</th>
                <th>{% trans "Your Bid" %}</th>
            </tr>
            {% for auction in request.user.winner.all %}
            <tr class="user-auction">
                <td class="user-auction-image">
                    <img src="{{ auction.get_main_image }}" alt="{{ auction.title }}">
                </td>
                <td>
                    <a href="{% url 'auction' auction.slug %}">{{ auction.title }}</a>
                </td>
                <td>
                    <p>{{ auction.participants.count }}</p>
                </td>
                <td>{{ auction.end_time }}</td> 
                <td>${{ auction.get_current_price }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h3>{% trans "No auctions found." %}</h3>
        {% endif %}
    </div>
    {% endif %}
</section>
<!-- end of user detail section -->
{% endblock content %}
