{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock style %}

{% block content %}
<section class="checkout">
    <div class="payment-list">
        <div class="all-numbers">
            <div class="number-box">
                <p>Total Price</p>
                <span>{{ order.total_amount }}</span>
            </div>
            <div class="number-box">
                <p>Payment Method</p>
                <span>{{ order.payment_method }}</span>
            </div>
            <div class="number-box">
                <p>Payment Status</p>
                <span>{{ order.paid }}</span>
            </div>
            <div class="number-box">
                <p>Order ID</p>
                <span>{{ order.id }}</span>
            </div>
            <div class="number-box">
                <p>Payment Confirmation</p>
                <span>You will receive a confirmation email shortly.</span>
            </div>
        </div>
    </div>
    
    <div class="address-list">
        <h1>Shipping Address</h1>
        <a href="" class="address-info">
            {% with address=order.address %}
            <h4>{{ address.recipient_name }}</h3>
            <p>{{ address.street_address }}</p>
            {% endwith %}
        </a>
    </div>
    
    <div class="dashboard-list">
        <h1 class="title">Your Auctions</h1>
        <table class="user-auctions">
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Price</th>
            </tr>
            {% for order_item in order_items %}
            <tr class="user-auction">
                <td class="user-auction-image">
                    <img src="{{ order_item.product.get_main_image }}" alt="{{ order_item.product.title }}">
                </td>
                <td>
                    <a href="{% url 'auction' order_item.product.slug %}">{{ order_item.product.title }}</a>
                </td>
                <td>
                    <p>${{ order_item.price }}</p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% if not order.paid %}
    <div class="btn-group">
        <a href="{% url 'payments:stripe' order.id %}" class="btn">Pay Now</a>
    </div>
    {% endif %}
</section>
{% endblock content %}

