{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}
{% trans 'Dashboard Detail' %}
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock style %}

{% block header %}
<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.7.2/dist/svgMap.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.7.2/dist/svgMap.min.css" rel="stylesheet">
{% endblock header %}

{% block content %}
<section class="dashboard">
    <h1 class="Title">{% trans "User Distribution by Country" %}</h1>
    <div class="map" id="svgMap">
    </div>
    <div class="all-numbers">
        <h1 class="title">{% trans "All Numbers" %}</h1>
        <div class="number-box">
            <p>{% trans "Total Users" %}</p>
            <span>{{ all_numbers.total_users }}</span>
        </div>
        <div class="number-box">
            <p>{% trans "Total Likes" %}</p>
            <span>{{ all_numbers.total_likes }}</span>
        </div>
        <div class="number-box">
            <p>{% trans "Total Views" %}</p>
            <span>{{ all_numbers.total_views }}</span>
        </div>
    </div>

    <div class="btn-group">
        <a href="{% url 'dashboard' %}" class="btn btn-primary">{% trans "Back to Dashboard" %}</a>
        <a href="{% url 'auction-update' auction.slug %}" class="btn btn-secondary">{% trans "Edit Auction" %}</a>
        <a href="{% url 'auction-delete' auction.slug %}" class="btn btn-secondary">{% trans "Delete Auction" %}</a>
        <a href="{% url 'auction-admins' auction.slug %}" class="btn btn-danger">{% trans "Admins" %}</a>
        {% if auction.type != 'PB' %}
        <a href="{% url 'private-links' auction.slug %}" class="btn">{% trans "Private Links" %}</a>
        {% endif %}
    </div>

    <div class="order-data" style="margin-top: 2rem;">
        <h1>{% trans "Order Data" %}</h1>
        
        <div class="all-numbers">
            <div class="number-box">
                <p>{% trans "Ordered" %}</p>
                <span>{{ auction.orderitem_set.exists }}</span>
            </div>
            <div class="number-box">
                <p>{% trans "Ordered Date" %}</p>
                <span>12.02.2008</span>
            </div>
            <div class="number-box">
                <p>{% trans "Payed" %}</p>
                <span>{{ auction.orderitem_set.first.order.paid }}</span>
            </div>
            <div class="number-box">
                <p>{% trans "Payment Method" %}</p>
                <span>{% trans "Stripe" %}</span>
            </div>
            <div class="number-box">
                <p>{% trans "Deleivered" %}</p>
                <span>
                    <input type="checkbox" checked>
                </span>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
<script>
    new svgMap({
        targetElementID: 'svgMap',
        data: {
            data: {
            views: {
                name: 'Views',
                format: '{0} views',
                thousandSeparator: ',',
                thresholdMax: 50000,
                thresholdMin: 1000
                },
            },
            applyData: 'views',
            values: {
                {% for count_data in user_counts_by_country %}
                {{ count_data.country }}: {views: {{ count_data.user_count }},},
                {% endfor %}
            }
        }
        });
</script>
{% endblock script %}
